<div class="animate__animated animate__fadeIn animate__faster">

  <h3>Region <small>{{ regionActiva | titlecase }}</small></h3>
  <hr>

  <h5>Seleccione la region</h5>
  <!-- [class.btn-primary]="regionActiva === region" -->
  <!-- [ngClass]="{'btn-primary': regionActiva === region}" -->

  <div class="row">
    <div class="col">
      <button *ngFor="let region of regiones" [class]="getCssClass(region)" (click)="activarRegion(region)">
        {{ region | titlecase }}
      </button>
    </div>
  </div>


  <app-pais-tabla [paises]="paises">

  </app-pais-tabla>
</div>
